* {
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.box-caption {
  position: relative;
  padding-bottom: 15px;
  color: #3c3c3c;
  font-family: Lato, sans-serif;
  font-size: 34px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  margin: 20px 0 35px;
}
.box-caption:after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 4px;
  background-color: #dddbdb;
}

.box-description {
  color: #3c3c3c;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 0 55px;
}

.user-card figure {
  height: 270px;
  overflow: hidden;
  margin-bottom: 16px;
  position: relative;
}
.user-card figure img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.user-card .user-name {
  color: #282528;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.25;
}
.user-card .user-position {
  color: #646464;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25;
}

.user-card figure:after {
  position: absolute;
  content: "";
  display: block;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  background-color: rgba(0, 174, 217, 0.9);
  transition: width 0.4s ease, height 0.4s ease;
  z-index: 1;
}

.user-card:hover figure:after {
  width: 100%;
  height: 100%;
}

.user-card .social {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  transition-delay: 0.4s;
}

.user-card .social a {
  width: 42px;
  height: 42px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
  transform: scale(1);
}
.user-card .social a:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.5);
}
.user-card .social a .fab {
  font-size: 24px;
  color: #fff;
}

.user-card:hover .social {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .user-card figure:after {
    background-color: #f00;
    opacity: 0.6;
  }
  .user-card {
    margin-bottom: 50px;
  }
}
