@font-face {
    font-family: "themify";
    src: url("themify.woff2") format("woff2"), url("themify.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue";
    src: url("BebasNeueBold.woff2") format("woff2"), url("BebasNeueBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue Light";
    src: url("BebasNeueLight.woff2") format("woff2"), url("BebasNeueLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue - Thin";
    src: url("BebasNeue-Thin.woff2") format("woff2"), url("BebasNeue-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Bebas Neue Regular";
    src: url("BebasNeueRegular.woff2") format("woff2"), url("BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
