.icons {
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons-line {
    padding-top: 45px;
    width: 65%;
}
.icons-line img {
    width: 100%;
}
.icons ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 120px;
    margin-top: -60px;
}
.icons li {
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    position: relative;
}
.icons p {
    color: #e8e8e8;
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
}
.ico {
    font-size: 58px;
    margin: 30px 0;
}

.fas.fa-search {
    &:before {
        content: "\f002";
        color: #4d67d5;
        position: relative;
        z-index: 100;
    }
    &::after {
        display: block;
        content: "";
        width: 96px;
        height: 96px;
        background-color: #333333;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 50px;
        z-index: 99;
    }
}

.far.fa-check-circle {
    &::before {
        content: "\f058";
        color: #ff6363;
        position: relative;
        z-index: 100;
    }

    &::after {
        display: block;
        content: "";
        width: 96px;
        height: 96px;
        background-color: #333333;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 50px;
        z-index: 99;
    }
}
.far.fa-thumbs-up {
    &::before {
        content: "\f164";
        color: #00a2ff;
        position: relative;
        z-index: 100;
    }

    &::after {
        display: block;
        content: "";
        width: 96px;
        height: 96px;
        background-color: #333333;
        border-radius: 50%;
        position: absolute;
        top: 0px;
        left: 50px;
        z-index: 99;
    }
}
